<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Encrypted Votes</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Search Encrypted Votes</h1>
        </header>
        <main class="voting-section">
            <form action="/search-vote" method="GET" class="search-form">
                <h2>Enter Vote ID</h2>
                <input type="text" name="vote_id" placeholder="Enter Vote ID" class="search-input" required>
                <button type="submit" class="submit-button">Search</button>
            </form>
             <!-- Result Section -->
             {% if vote_result %}
             <div id="vote-result" class="result-section">
                 <h2>Vote Receipt</h2>
                 <div class="receipt-item"><span>Election ID:</span> {{ vote_result['election_id'] }}</div>
                 <div class="receipt-item"><span>Ballot ID:</span> {{ vote_result['ballot_id'] }}</div>
                 <div class="receipt-item"><span>CNIC:</span> {{ vote_result['cnic'] }}</div>
                 <div class="receipt-item"><span>Hash:</span> {{ vote_result['vote_hash'] }}</div>
                 <div class="receipt-item"><span>Timestamp:</span> {{ vote_result['time'] }}</div>
             </div>
             {% elif not vote_result and ballot_id_provided %}
             <div id="vote-result" class="result-section">
                 <h2>No Results Found for Ballot ID: {{ ballot_id }}</h2>
             </div>
             {% endif %}
        </main>
    </div>
</body>
</html>
